

.ribbon-wrapper {
  width: 85px;
  height: 88px;
  overflow: hidden;
  position: absolute;
  top: 0px;
  right: 0px;
}

.ribbon {
  font: bold 15px Sans-Serif;
  color: #FFF;
  text-align: center;
  text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
  -webkit-transform: rotate(45deg);
  -moz-transform:    rotate(45deg);
  -ms-transform:     rotate(45deg);
  -o-transform:      rotate(45deg);
  position: relative;
  padding: 5px 0;
  left: -5px;
  top: 15px;
  width: 120px;
  background-color: #6CFFDB;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#6CFFDB), to(#69E1F8)); 
  background-image: -webkit-linear-gradient(top, #6CFFDB, #69E1F8); 
  background-image:    -moz-linear-gradient(top, #6CFFDB, #69E1F8); 
  background-image:     -ms-linear-gradient(top, #6CFFDB, #69E1F8); 
  background-image:      -o-linear-gradient(top, #6CFFDB, #69E1F8); 
  color: #FFF;
  -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
  -moz-box-shadow:    0px 0px 3px rgba(0,0,0,0.3);
  box-shadow:         0px 0px 3px rgba(0,0,0,0.3);
}

.custom-ribbon-anchor {
	color: #FFF;
}
/*
.ribbon-green:before, .ribbon-green:after {
  content: "";
  border-top:   3px solid #6e8900;
  border-left:  3px solid transparent;
  border-right: 3px solid transparent;
  position:absolute;
  bottom: -3px;
}

.ribbon-green:before {
  left: 0;
}
.ribbon-green:after {
  right: 0;
}
*/